flows/TestFlowProperty1-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>FlowTestAssign1</name>
        <label>FlowTestAssign1</label>
        <locationX>340</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>testVariable1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testVariable1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>FlowTest1Descision1</name>
        <label>FlowTest1Descision1</label>
        <locationX>339</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FlowTest1Descision1OutCome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestFlow1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FlowTestAssign1</targetReference>
            </connector>
            <label>FlowTest1Descision1OutCome</label>
        </rules>
    </decisions>
    <interviewLabel>TestFlowProperty1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestFlowProperty1</label>
    <processType>Flow</processType>
    <screens>
        <name>TestFlow1</name>
        <label>TestFlow1</label>
        <locationX>277</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FlowTest1Descision1</targetReference>
        </connector>
        <fields>
            <name>Submit</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Success</stringValue>
            </defaultValue>
            <fieldText>Submit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>TestFlow1</startElementReference>
    <variables>
        <description>test</description>
        <name>testVariable1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
